<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="home-container">
    <img src='../assets/profile-pic.png'>
    <div class="description">
        <h1>Howdy!</h1>
        <h2>My name is <mat-icon id="name-play" (click)="name.play()">volume_up</mat-icon> Will Giger</h2>
        <ul class="icons">
            <li class="icon">
                <a href="https://www.linkedin.com/in/will-giger/" target="_blank">
                    <img class="icon-image"  src="../assets/linkedin.svg">
                </a>
            </li>
            <li class="icon">
                <a href="https://github.com/wgiger" target="_blank">
                    <img class="icon-image"  src="../assets/github.svg">
                </a>
            </li>
        </ul>
        <p>
            I'm currently an Associate Software Engineer at Rocket Mortgage. <br>
            My current tech stack is AWS, Angular, Javascript/Typescript, and .NET.<br>
            I graduated from MSU in 2020 with a CS degree and minor in Economics.<br>
            I have a passion for learning and solving real-world problems.<br>
        </p>
    </div>
</div>