<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="home-container">
    <img class="home" src='../assets/profile-pic.png'>
    <div class="description">
        <h1>Hello!</h1>
        <h2>My name is <mat-icon id="name-play" (click)="name.play()">headphones</mat-icon> Will Giger</h2>
        <ul class="icons">
            <li>
                <a href="https://www.linkedin.com/in/will-giger/" target="_blank">
                    <img class="icon"  src="../assets/linked-in.png">
                </a>
            </li>
            <li>
                <a href="https://github.com/wgiger" target="_blank">
                    <img class="icon"  src="../assets/git-hub.png">
                </a>
            </li>
        </ul>
        <p class="home">
            I'm currently a Software Engineer at Rocket Mortgage. <br>
            I am a 2020 graduate of Michigan State University with a degree in Computer Science and a minor in Economics.<br>
            I enjoy the outdoors, snowboarding, and personal finance.<br>
            My greatest passion, however, includes developing programs and finding solutions that help people. <br>
        </p>
    </div>
</div>