.home-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.description {
    width: 60%;
    margin: 30px;
    font-size: larger;
}

#name-play {
    cursor: pointer;
    color: #5E7D7E
}

#name-play:hover {
    transform: scale(1.1);
}

.icon-image {
    margin: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-block
}

.icon-image:hover {
    transform: scale(1.1);
}

.icon {
    display: inline-block;
}

.titles {
    font-size: large !important;
}
